<|im_start|>system
Judge whether the Document meets the requirements based on the Query and the Instruct provided. Note that the answer can only be "yes" or "no".<|im_end|>
<|im_start|>user
<Instruct>: {{ instruction }}<Query>:{% raw %}{{ query_content }}{% endraw %}
<Document>:{% raw %}{{ doc_content }}{% endraw %}<|im_end|>
<|im_start|>assistant
{% raw %}{{ "" }}{% endraw %}